$color-font-main: #333333; // Основной цвет шрифта
$color-font-second: #AAAAAA; // Вторичный цвет в макете
$color-font-bg: #E2EFFF; // Цвет фона текста в автоподсказках при ховере 
$color-font-hover: #125BAE; // Цвет при ховере на текст
$color-font-history: #5A0488; // Цвет запросов истории

$color-brand: #7397F5; // Основной цвет бренда и скроллбара

$color-border: #D5D5D5; // Цвет бордера для инпутов, чекбоксов
$color-icons: #CBCBCB; // Цвет основных иконок
$scroll-bar: #F2F2F2; // Цвет полосы скролла
$color-white: #FFFFFF; // Белый цвет