$color-font-main: #333333; // Основной цвет шрифта
$color-font-second: #AAAAAA; // Вторичный цвет в макете
$color-font-bg: #E2EFFF; // Цвет фона текста в автоподсказках при ховере 
$color-font-hover: #125BAE; // Цвет при ховере на текст
$color-font-history: #5A0488; // Цвет запросов истории

$color-brand: #7397F5; // Основной цвет бренда и скроллбара

$color-border: #D5D5D5; // Цвет бордера для инпутов, чекбоксов
$color-border-hover: #73aff4; // Цвет бордера при ховере
$color-icons: #CBCBCB; // Цвет основных иконок
$scroll-bar: #F2F2F2; // Цвет полосы скролла
$color-white: #FFFFFF; // Белый цвет

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin list($dir: r, $gap: 0) {
  @include list-reset;
  display: flex;

  @if $dir==r {
    flex-direction: row;

    &>*:not(:last-child) {
      margin-right: $gap;
    }
  }

  @else {
    // $dir==c
    flex-direction: column;

    &>*:not(:last-child) {
      margin-bottom: $gap;
    }
  }
}

@mixin hover {
  &:not([disabled]):hover {
    @content;
  }
}