@use "fonts";
@use "variables"as *;

* {
  box-sizing: border-box;
}

:root {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $color-font-main;
  background-color: $color-white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: $color-font-main;
  text-decoration: inherit;
  transition: all .3s;
}

button {
  all: unset;
  cursor: pointer;
  transition: all .3s;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  all: unset;
}

input[type="search"] {
  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
}