@use "fonts";
@use "variables"as *;

:root {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $color-font-main;
  background-color: $color-white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  display: grid;
  grid-template-areas:
    "header header"
    "filters results";
  grid-template-columns: 280px auto;
  gap: $gap-header $gap-main;
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 100px $gap-main;
}

a {
  color: $color-font-main;
  text-decoration: inherit;
  transition: all .3s;

  &:hover {
    color: $color-font-hover;
  }

  &:visited {
    color: $color-font-history;
  }
}

button {
  all: unset;
  cursor: pointer;
}

.btn {
  display: flex;
}

input {
  all: unset;
}

input[type="search"] {
  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
}